Program needs to simulate a Texas Hold'em poker game with 5 players.

Necessary Components:
- Cards must be dealt (2 to each player, 5 in the river)
- Players must have money in order to place bets
- Small blind and big blind
- Players must be able to check, raise, and fold
- Program must rank each hand appropriately and pick a winner
- Players must be able to win/lose money, and keep track of their (and others) budget
- Program must keep track of the pot
- 4 Stages of bets (stage 1, stage 2, stage 3, reveal) 
- River needs to be revealed at each stage
- Program must be able to give appropriate payouts in the case of a tie
- A player wins when all other players have gone bust

Design Questions: 
- Static dealer or have each player deal using round robin? Static dealer route would still require us to choose a new starting player each round..
- How would fold be implemented? Maybe fold factor would depend on how far into the round you are, how good the hand is, size of the pot, size of budget(self/others), how much a player needs to match a bet, previous round(s)
- When would a player decide to raise the bet? Maybe the same things as the fold factor...
